.nav {
  @media (max-width: 767px) {
    display: none;
  }
}

.page-content {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2rem 40px 4rem;

  @media (max-width: 600px) {
    padding: 1.5rem 16px 3rem;
  }

  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
}
